{% if suites|length == 0 %}
<p>You have no suites.</p>
{% else %}
<ul id="suites_list">
    {% for suite in suites %}
        <li>
            <a href="{{ path('suite_view', {'id': suite.id}) }}">{{ suite.label }}</a>
        </li>
    {% endfor %}
</ul>
{% endif %}
